%table.table.table-stripped.package-list
  %thead
    %tr
      %th{ width: '302px'} 제목
      %th{ width: '85px' } 자소서 수
      %th{ width: '61px' } 상품가격
      %th{ width: '64px' } 할인가격
      %th{ width: '67px' } 구매가격
      %th{ width: '60px' } 내용
  %tbody
    - @packages.each_with_index do |package, index|
      %tr
        %td.title= link_to "#{package.name}", package_path(package)
        %td.count= "#{package.reports.count} 개"
        %td.price= "#{package.original_price} 원"
        %td.dc= "#{package.discount} 원"
        %td.sum= "#{package.price} 원"
        %td
          %button.btn.btn-success{'data-toggle' => 'collapse', 'data-target' => "#package#{index}"} 보기
      %tr
        %td{ colspan: '6' }
          .row-fluid.collapse{ id: "package#{index}" }
            .span12
              %table.table.table-stripped.report-list
                %thead
                  %th{ width: '430px' } 제목
                  %th{ width: '70px' } 페이지 수
                  %th{ width: '70px' } 가격
                  %th{ width: '100px' } 미리보기
                  %th{ width: '100px' } 뷰어로 보기
                %tbody
                  - package.reports.all.each do |report|
                    %tr
                      %td= report.title
                      %td= "#{report.page} Page"
                      %td= "#{report.grade_price} 원"
                      %td
                        = link_to '프린트', print_report_path(report), class: "btn"
                      %td
                        = link_to '보기', view_report_path(report), class: "btn btn-info"