- content_for :below do
  .frame
    .title
      = image_tag('order_label.png', alt: '주문/결제')
    .process
      = image_tag('process_order.png', alt: '주문/결제')
    .content
      %h3 1-1. 패키지 구입상품
      - if @packages.any?
        = render 'shared/package_list', locals: { packages: @packages }
      - else
        %br
        %h4 구매한 상품이 없습니다.
        %br
          
      %h3 1-2. 리포트 구입상품
      - if @reports.any?
        = render 'shared/report_list', locals: { reports: @reports }
      - else
        %br
        %h4 구매한 상품이 없습니다.
        %br

      %h3 2. 결제금액
      = render 'shared/payment_result'

      %h3 3. 결제정보
      .row-fluid
        = form_tag purchases_path(reports: @reports, packages: @packages), class: "form-horizontal", name: 'PGIOForm' do
          = render 'layouts/error_messages'
          .span6
            %fieldset
              .control-group
                = label_tag :paymethod, 'credit card', class: "control-label"
                .controls
                  = radio_button_tag :paymethod, 'card', true
              .control-group
                = label_tag :paymethod, 'realtime account', class: "control-label"
                .controls
                  = radio_button_tag :paymethod, '4'
              .control-group
                = label_tag :paymethod, 'cellphone', class: "control-label"
                .controls
                  = radio_button_tag :paymethod, '801'
            = text_field_tag :receipttoname, '이름'
            = password_field_tag :socialnumber, ''
            = hidden_field_tag :mid, 'koreport'
            = hidden_field_tag :goodname, @goodname
            = hidden_field_tag :unitprice, @total_price
            = hidden_field_tag :langcode, 'KR'
            = hidden_field_tag :goodcurrency, 'WON'
            = hidden_field_tag :cardquota, ''
            = hidden_field_tag :cardexpiremonth, ''
            = hidden_field_tag :cardexpireyear, ''
            = hidden_field_tag :cardsecretnumber, ''
            = hidden_field_tag :cardownernumber, ''
            = hidden_field_tag :cardtype, ''
            = hidden_field_tag :cardnumber, ''
            = hidden_field_tag :cardauthcode, ''
            = hidden_field_tag :socialauthcode, ''
            = hidden_field_tag :carrier, ''
            = hidden_field_tag :receipttotel, ''
            = hidden_field_tag :receipttosocialnumber, ''
            = hidden_field_tag :replycode, ''
            = hidden_field_tag :replyMsg, ''


          .span6
            %h3 4. 결제하기
            %h4 최종결제금액
            %span.label.label-large= "#{@total_price} 원"
            = link_to "결제하기", '#', class: "btn btn-large btn-primary", onclick: 'startPayment();'


      %div{id: 'PGIOscreen'}
