- content_for :below do
  .order
    .row
      .span12
        = image_tag('order_label.png', alt: '주문/결제')
        
    %table.table.table-stripped.package.list
      %thead
        %th 제목
        %th 페이지 수
        %th 상품가격
        %th 할인가격
        %th 합계
      %tbody
        - @packages.each do |package|
          %tr
            %td= package.name
            %td= "#{item.page} Page"
            %td= package.price
            %td package.discount
            %td package.sum

    %table.table.table-stripped.report.list
      %thead
        %th 제목
        %th 페이지 수
        %th 상품가격
      %tbody
        - @reports.each do |report|
          %tr
            %td= report.title
            %td= "#{report.page} Page"
            %td= report.price

    %h3 2. 결제금액
    %table.total-price
      %thead
        %th.price
        %th.dc-price
        %th.total
      %tbody
        %tr
          %td sum
          %td dc
          %td total

    %table.payment
      %thead
        %th
          %h3 3. 결제정보
        %th
          %h3 4. 결제하기
      %tbody
        %tr
          %td= render "account"          
          %td
            %h3 최종결제금액
            %h2 2500원
            = button_to "결제하기", purchases_path(reports: @reports, packages: @packages, user_id: current_user.id), class: "btn btn-primary"
