%table.payment-result
  %thead
    %tr
      %th{ width: '288px' }
      %th{ width: '288px' }
      %th{ width: '288px' }
  %tbody
    %tr
      %td.sum= "#{@total_original_price} 원"
      %td.dc= "#{@total_discount} 원"
      %td.total= "#{@total_price} 원"