.package
  .row-fluid
    .span2
      = image_tag 'package.png', alt: 'hanyang', width: '100px', height: '100px'
    .span10
      .content
        %h4= link_to package.name, package
        %p= package.intro
      .info
        %span= "#{package.price} 원"
        = link_to '자세히 보기', package_path(package), class:'btn btn-info'
        - if user_signed_in?
          /- if package.buckets.empty?
          = link_to '카트에 담기', buckets_path(current_user, report_id: 1), method: 'post', class: 'btn'
        - else
          %span.btn.disabled 카트에 담김        
