.report
  .row-fluid
    .span2
      = image_tag "mark/#{report.univ_name}.png", alt: report.univ_name, width: '100px', height: '100px'
    .span10
      .content
        %h4= link_to report.title, report
        %p= print_compact(report.intro)
      .info
        %span= "#{report.grade_price} 원"
        = link_to '자세히 보기', report_path(report), class:'btn btn-info'
        - if (user_signed_in? && current_user.in_cart?(report))
          %span.btn.diabled 장바구니 안
        
        - elsif user_signed_in? && not(current_user.buy_this?(report))
          = link_to buckets_path(current_user, bucket_item_type: "Report", bucket_item_id: report.id), class: "btn", method: 'post' do
            %span 카트에 담기