.report
  .row-fluid
    .span2
      = image_tag 'mark/hanyang.png', alt: 'hanyang', width: '100px', height: '100px'
    .span10
      .content
        %h4= link_to report.title, report
        %p= report.intro
      .info
        %span= "#{report.price} won"
        = link_to 'see detail', '#', class:'btn btn-info'
        = link_to 'cart', '#', class: 'btn'
    