.logo-and-search
  = image_tag "main_logo.png", alt: "koreport Logo"
  = render 'shared/search_form'

- content_for :below do
  = image_tag 'category_label.png'

  %ul.thumbnails
    %li.span4
      .thumbnail
        = link_to image_tag("pillar1.png", alt: "how To Buy"), '#'

    %li.span4
      .thumbnail
        = link_to image_tag("pillar2.png", alt: "Category"), '#'
  
    %li.span4
      .thumbnail
        = link_to image_tag("pillar3.png", alt: "Package"), '#'

  .sign-up
    .row
      .span7
        = image_tag 'sign_up_label.png'
        %h3 Just insert E-mail and password!
        = form_for(User.new, as: :user, url: registration_path(:user), html: {class: "form-inline"}) do |f|
          = f.email_field :email, placeholder: "e-mail", class: "span3 input"
          = f.password_field :password, placeholder: "password", class: "span3 input"
          = f.submit "Sign Up!", class: "btn btn-primary"
      .span5
        = image_tag 'sign_up_now.png'
    