.search-section
  .row
    .span2.search-logo
      = image_tag 'search_logo.png', alt: 'koreport'
    .span10.search-form
      = render 'shared/search_form'

- content_for :below do
  - if @packages.empty? && @reports.empty?
    .out-of-result
      
  - else
    .row
      .span10       
        .pakage-section
          .section-title
            .title-label
              %span "Package #{@packages.count}."
            .section-content
              = render(partial: 'package', collection: @packages) || "no result."
    .row
      .span10       
        .report-section
          .section-title
            .title-label
              %span "Report #{@reports.count}."
            .section-content
              = render(partial: 'report', collection: @reports) || "no result."