- content_for :below do
  .bucket
    .row
      .span12
        = image_tag('bucket_label.png', alt: '장바구니')

    - if @packages.empty?
      %h3 * 장바구니에 담겨진 패키지 상품이 없습니다.
    - else
      = form_tag buckets_path(current_user, bucket_item_type: "Package"), method: 'delete' do
        %table.table.table-stripped.list
          %thead
            %th 제목
            %th 자소서 수
            %th 상품가격
            %th 할인가격
            %th 합계
            %th 선택
          %tbody
            - @packages.each do |item|
              %tr
                %td= item.name
                %td= "#{item.reports.count} 개"
                %td= item.original_price
                %td= item.discount
                %td= item.price
                %td= check_box_tag "item_ids[]", item.id
        .row{ style: "text-align: right"}= submit_tag "선택항목 지우기", class: "btn btn-info"
    - if @reports.empty?
      %h3 * 장바구니에 담겨진 자기소개서 상품이 없습니다.
    - else
      = form_tag buckets_path(current_user, bucket_item_type: "Report"), method: 'delete' do
        %table.table.table-stripped.list
          %thead
            %th 제목
            %th 페이지 수
            %th 상품가격
            %th 선택
          %tbody
            - @reports.each do |item|
              %tr
                %td= item.title
                %td= "#{item.page} Page"
                %td.sum= item.grade_price
                %td= check_box_tag "item_ids[]", item.id
        .row{ style: "text-align: right"}= submit_tag "선택항목 지우기", class: "btn btn-info"
    .row
      .span12
        = button_to "구매하기", order_purchases_path(reports: @reports, packages: @packages), class: "btn btn-large"
