- content_for :below do
  .bucket
    .row
      .span12
        = image_tag('bucket_label.png', alt: '장바구니')
        
    = form_tag buckets_path(current_user), method: 'delete' do
      %table.table.table-stripped.list
        %thead
          %th 제목
          %th 페이지 수
          %th 상품가격
          %th 할인가격
          %th 합계
          %th 선택
        %tbody
          - @report_items.each do |item|
            %tr
              %td= item.title
              %td= "#{item.page} Page"
              %td= item.price
              %td item.discount
              %td item.sum
              %td= check_box_tag "item_ids[]", item.id
      = submit_tag "delete seleted", class: "btn btn-info"
    = button_to "구매하기", order_purchases_path(reports: @report_items, packages: @packages), class: "btn"
  = button_to "select all", class: "btn"
