%fieldset
  = form_for @report, :html => { class: "form-horizontal", :multipart => true } do |f|
    .control-group
      = f.label :title, class: "control-label"
      .controls
        = f.text_field :title

    .control-group
      = f.label :university, class: "control-label"
      .controls
        = f.text_field :univ_list

    .control-group
      = f.label :college, class: "control-label"
      .controls
        = f.text_field :college_list

    .control-group
      = f.label :dep, class: "control-label"
      .controls
        = f.text_field :dep_list

    .control-group
      = f.label :year, class: "control-label"
      .controls
        = f.text_field :year

    .control-group
      = f.label :price, class: "control-label"
      .controls
        = f.text_field :price

    .control-group
      = f.label :page, class: "control-label"
      .controls
        = f.text_field :page

    .control-group
      = f.label :expert_rate, class: "control-label"
      .controls
        = f.text_field :expert_rate

    .control-group
      = f.label :introduction, class: "control-label"
      .controls
        = f.text_area :intro

    .control-group
      = f.label :list, class: "control-label"
      .controls
        = f.text_area :list

    .control-group
      = f.label :content, class: "control-label"
      .controls
        = f.text_area :content

    .control-group
      = f.label :content_img, class: "control-label"
      .controls
        = f.file_field :content_img

    = f.fields_for :documents do |doc|
      .control-group
        = doc.label :doc_img, class: "control-label"    
        .controls
          = doc.file_field :doc_img
  
    = f.submit "Create Report!", class: "btn btn-large btn-primary"