.top-control
  .row
    .span3
      = link_to search_path, class: "btn btn-large" do
        %i.icon-chevron-left.icon-white.icon-large
        %span 뒤로
 
- if user_signed_in? && not(current_user.seller.nil?) && not(@package.nil?)
  = form_for @package, :html => { :method => :put }, :class => "form-inline" do |f|
    = f.label "select package that wish to add this report"
    = collection_select(:package, :id, @packages, :id, :name)
    = f.hidden_field(:report_id, :value => @report.id) 
    = f.submit "Add report!", class: "btn btn-success"

.panel
  .row
    .span12.info
      .row
        .span2.mark
          = image_tag "mark/#{@report.univ_name}.png", alt: @report.univ_name, width: '100px', height: '100px'
        .span10
          .row.title
            .span10
              %h2= @report.title
          .row.info
            .span10
              %i.icon-file.icon-large
              %span= "#{@report.page} page"
              %i.icon-time.icon-large
              %span.created-time= @report.created_at.strftime("%F")
  .row-fluid.control
    .span2.color-tap
      %span= "color-tap"
    .span10.buttons
      %span.price= "#{@report.grade_price} 원"
      - if user_signed_in?
        - if current_user.purchases.exists?(@report)
          = link_to view_report_path(@report), class: "btn btn-large btn-info" do
            %span 뷰어로 보기
        - else
          = link_to order_purchases_path(reports: @report), class: "btn btn-large btn-info", method: 'post' do
            %span 구매하기
        - if current_user.buckets.exists?(report_id: @report.id)
          %span.btn.diabled 장바구니 안
        - else
          = link_to buckets_path(current_user, report_id: @report.id), class: "btn btn-large", method: 'post' do
            %span 카트에 담기

.contents
  .row-fluid.contents-title
    .span3
      %h2 자세히 보기
  .intro
    .row
      .span2.label
        %span 미리보기
    .row
      .span12
        .content
          %p= simple_format(@report.intro)

  .list
    .row
      .span2.label
        %span 목  차
    .row
      .span12
        .content
          %p= simple_format(@report.list)


  .content
    .row
      .span2.label
        %span 자료소개
    .row
      .span12
        .data
          = image_tag "grade#{@report.expert_rate}.png", alt: "자료 소개", class: "grade_img"
  .comment
    .row
      .span2.label
        %span 댓  글
    .row
      .span12
        .data
