!!! 5
%html
  %head
    %title Koreport - Save your sleeping reports!
    = include_gon
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = javascript_include_tag "https://api.paygate.net/ajax/common/OpenPayAPI.js"
    = csrf_meta_tags
    = render 'layouts/shim'
  %body
    = render 'layouts/header'
    = render 'shared/flash', object: flash
    - unless yield.blank?
      .above
        /- unless current_path?(params[:controller], params[:action])
        = content_tag(:div, yield, class: 'container')
        /- else
        /= yield
    .below
      /- unless current_path?(params[:controller], params[:action])
      = content_tag(:div, yield(:below), class: 'container')
      /- else
      / = yield :below

      /- unless current_path?(params[:controller], params[:action])
      = content_tag(:div, render('layouts/footer'), class: 'container')
      /- else
      /  .row
      /    .span10.offset2
      /      = render('layouts/footer')