= render 'shared/flash', object: flash
.window
  .row.window-bar
    .span2.window-label
      %span= ' 회원가입 '
    .span10
      %span.trace 홈 > 회원가입
    .span12
      = render 'shared/error_messages'
  .content
    .row.sign-in-form
      .span7.form
        = form_for(resource, url: user_registration_path, html: { class: "form-horizontal"}) do |f|
          .sign-in
            .row
              .span5
                .row
                  .span2
                    = f.label 'E-mail', class: 'control-label'
                  .span3
                    = f.email_field :email, required: false, autofocus: true
                  .span2
                    = f.label 'password', class: 'control-label'
                  .span3
                    = f.password_field :password, required: false
              .span2
                .row
                  .span3
                    = f.button '회원가입', class: 'btn btn-primary'
    .row
      .span5.info-text
        %span 아이디(E-mail)과 비밀번호가 생각나지 않으세요?
      .span2
        = link_to 'id / 비밀번호 찾기', '!', class: 'btn btn-primary'
